body {
    background: #2a2a2a;
    margin: 0px;
}

img {
    margin: 5px;
}

p, h2 {
    color: #ffffff;
    font-family: sans-serif;
}

#content {
    margin: 5% 0%;
    text-align: center;
}

#header {
    background: #111111;
    text-align: center;
}

#header h2 {
    padding: 20px 0px;
}

.bio {
    background: #111111;
    padding: 5%;
}